user-configs/*
!user-configs/relay-servers/
!user-configs/exit-servers/
user-configs/relay-servers/*
!user-configs/relay-servers/.gitkeep
user-configs/exit-servers/*
!user-configs/exit-servers/.gitkeep

.cursorignore
